src/*.exe
src/bitcoin
src/bitcoind
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.bitcoin
publish
*.licx
backup
Thumbs.db
UnusableNodes*.xml
*Andrew*
*.user*
*bin/
*obj/
*.suo
*.dll
*.exe
*.user
*lib/
*libs/
*.sdf
*.dir/